<link rel="stylesheet" href="css/views/cardholder/profile.css">

<div class="cardholder-profile">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Profile</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Card Holder
                </li>
                <li class="active">
                    <strong>Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Profile Verification Responses</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                OFAC
                            </div>
                            <div class="col-sm-10">
                                <label>SK - OFAC is skipped due to defined configuration settings OR due to update profile</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                AVS
                            </div>
                            <div class="col-sm-10">
                                <label>SK - Address Verification (AVS) is skipped due to defined configuration settings OR due to update profile</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                SSN/NID
                            </div>
                            <div class="col-sm-10">
                                <label>SK - SSN verification is skipped due to defined configuration settings</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                Phone
                            </div>
                            <div class="col-sm-10">
                                <label>SK - PHV is skipped due to defined configuration settings OR due to update profile</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                Date of Birth
                            </div>
                            <div class="col-sm-10">
                                <label>SK - DOB is skipped due to defined configuration settings OR due to update profile</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                Driver's License
                            </div>
                            <div class="col-sm-10">
                                <label>SK - Driving License verification is skipped due to defined configuration settings</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                Host
                            </div>
                            <div class="col-sm-10">
                                <label>experian - Experian</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                Remarks
                            </div>
                            <div class="col-sm-10">
                                <label>ChAuth Batch 54</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Cardholder Information</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                First Name
                            </div>
                            <label class="col-sm-7 control-label">
                                        KIMBERLY
                                    </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                SSN/NID
                            </div>
                            <label class="col-sm-7 control-label">

                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Last Name
                            </div>
                            <label class="col-sm-7 control-label">
                                        SPROULE
                                    </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">
                            Home Phone Number
                        </div>
                        <label class="col-sm-7 control-label"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Address
                            </div>
                            <label class="col-sm-7 control-label">
                                        B43 L5 Abegail Dr Herencia De Julieta, Telabastagan San Fernando, Pampanga 2000 PHL
                                    </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Work Phone Number
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                City
                            </div>
                            <label class="col-sm-7 control-label">San Fernando</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Email
                            </div>
                            <label class="col-sm-7 control-label">kbangit@ko-kard.com</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                State/Province
                            </div>
                            <label class="col-sm-7 control-label">Pampanga</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Date of Birth
                            </div>
                            <label class="col-sm-7 control-label">01/29/1986</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Zip/Postal Code
                            </div>
                            <label class="col-sm-7 control-label">2000</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Monther's Maiden Name
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Member ID
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Customer ID
                            </div>
                            <label class="col-sm-7 control-label">292000000000000257</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Card Reference Number
                            </div>
                            <label class="col-sm-7 control-label">292000025719</label>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Update Information</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                First Name <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Occupation
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                        <option value="0">Selection 1</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Middle Name
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Employment Status
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                        <option value="0">Selection 1</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Last Name <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                SSN/NID
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Address Update Requested By
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                        <option value="0">Selection 1</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Driver's License
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Address <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                License State/Province
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4"><input type="text" class="form-control"></div>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                                <option value="0">Selection 1</option>
                                                <option value="1">Selection 2</option>
                                                <option value="2">Selection 3</option>
                                            </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Foreign ID
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                            <option value="0">Selection 1</option>
                                            <option value="1">Selection 2</option>
                                            <option value="2">Selection 3</option>
                                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Zip/Postal Code
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                        <option value="0">Select Type</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                ID
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                City
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-3">Issue Date</div>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="true" min-view="date"
                                                format="YYYY-MM-DD">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Expiry Date
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="true" min-view="date"
                                        format="YYYY-MM-DD">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                State/Province
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                                <option value="0">Select State/Province</option>
                                                <option value="1">Selection 2</option>
                                                <option value="2">Selection 3</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-3">
                                        Issuing State
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-sm-8">
                                                <select class="form-control">
                                                        <option value="0">Select State/Province</option>
                                                        <option value="1">Selection 2</option>
                                                        <option value="2">Selection 3</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Issuing Institution
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Country <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" required>
                                        <option value="0">Select Country</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Home Phone Number
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Billing Address
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Work Phone Number
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Mobile Phone Number
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Zip/Postal Code
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Email
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                City
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Date of Birth <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="true" min-view="date"
                                        format="YYYY-MM-DD" required>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                State/Province
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4"><input type="text" class="form-control"></div>
                                    <div class="col-sm-8"><input type="text" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Mother's Maiden Name
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Country
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                        <option value="0">Select Country</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Secret Question
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                        <option value="0">Select Secret Question</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Answer
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Employer ID
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Member Type
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control">
                                            <option value="0">Select Member Type</option>
                                            <option value="1">Selection 2</option>
                                            <option value="2">Selection 3</option>
                                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Account Statement Delivery</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Paperless Statement
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="radio radio-success">
                                            <input id="radio1" type="radio" name="rdPaperlesStatement">
                                            <label for="radio1">Subscribe</label>
                                            <small class="text-success">(Fee $1.00)</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio radio-success">
                                            <input id="radio2" type="radio" name="rdPaperlesStatement">
                                            <label for="radio2"> Unsubscribe</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Subscriptions (Alerts and Promotional Message Options)</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="radio radio-success">
                            <input id="rdSubscription1" type="radio" name="rdSubscription">
                            <label for="rdSubscription1">Both (Alerts and Promotional Messages)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="radio radio-success">
                            <input id="rdSubscription2" type="radio" name="rdSubscription">
                            <label for="rdSubscription2">Alerts Only (No Promotional Messages)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="radio radio-success">
                            <input id="rdSubscription3" type="radio" name="rdSubscription">
                            <label for="rdSubscription3">None (No Alerts and No Promotional Messages)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Update Profile Options</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <div class="radio radio-success">
                                    <input id="radio1" type="radio" name="rdPaperlesStatement">
                                    <label for="radio1">Update profile with documentary proof</label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="radio radio-success">
                                    <input id="radio2" type="radio" name="rdPaperlesStatement">
                                    <label for="radio2"> Accept Forcefully</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                File Name <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                                <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." />
                                    </span>
                                    <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Comments <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 command">
                <button class="btn btn-primary">Update Changes</button>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>