<link rel="stylesheet" href="css/views/administration/role-dialog.css">

<dialog-template title="{{dialogTitle}}" add-class="role-dialog" md-no-ink>
    <form name="formRole">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="control-label">Name</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="role.name" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
        <div class="row display-view">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Permission</th>
                            <th>Page Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in roleDialog.listPage">
                            <td>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="checkbox checkbox-primary">
                                            <input id="chkView{{$index}}" type="checkbox" ng-click="changePermission(a, $index);">
                                            <label for="chkView{{$index}}">View</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkAdd{{$index}}" type="checkbox" ng-click="changePermission(a, $index);">
                                            <label for="chkAdd{{$index}}">Add</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="checkbox checkbox-warning">
                                            <input id="chkEdit{{$index}}" type="checkbox" ng-click="changePermission(a, $index);">
                                            <label for="chkEdit{{$index}}">Edit</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="checkbox checkbox-danger">
                                            <input id="chkDelete{{$index}}" type="checkbox" ng-click="changePermission(a, $index);">
                                            <label for="chkDelete{{$index}}">Delete</label>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td>{{a.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="save(formRole.$valid);">Save</button>
            <button type="button" class="btn btn-default" ng-click="closeDialog();">Close</button>
        </div>
    </form>

</dialog-template>