
<link rel="stylesheet" href="css/views/administration/role-dialog.css">

<dialog-template title="{{dialogTitle}}" add-class="role-dialog">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <div class="col-lg-4">
                    <label class="control-label">Name</label>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</dialog-template>