<link rel="stylesheet" href="css/views/admin-services.css">

<div class="admin-services">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Administrative Services</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">
                    <strong>Administrative Services</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Service Details</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Service <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" required>
                                    <option value="0">Selection 1</option>
                                    <option value="1">Selection 2</option>
                                    <option value="2">Selection 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Amount($) <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Comments <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-7">
                                <button class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Balance Information</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Outstanding Balance
                            </div>
                            <label class="col-sm-7 control-label">$5.67</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Statement Balance
                            </div>
                            <label class="col-sm-7 control-label">$0.00</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Available Credit Limit
                            </div>
                            <label class="col-sm-7 control-label">$6.67</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">Available Cash Advance Limit</div>
                        <label class="col-sm-7 control-label">$6.67</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Allowed Credit Limit
                            </div>
                            <label class="col-sm-7 control-label">$1.00</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Allowed Cash Advance Limit
                            </div>
                            <label class="col-sm-7 control-label">$10.00</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Payment Information</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Minimum Payment Due
                            </div>
                            <label class="col-sm-8 control-label">
                                                            $0.00
                                                        </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Last Payment Amount
                            </div>
                            <label class="col-sm-8 control-label">
                                                            $25.00
                                                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Payment Due Date
                            </div>
                            <label class="col-sm-8 control-label">
                                                            
                                                        </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Last Payment Date
                            </div>
                            <label class="col-sm-8 control-label">
                                                            07/26/2017
                                                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>APR Information</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                APR For Purchases
                            </div>
                            <label class="col-sm-8 control-label">
                                                        0.0%
                                                        </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                APR For Cash Advance
                            </div>
                            <label class="col-sm-8 control-label">
                                                        0.0%
                                                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                APR For Balance Transfer
                            </div>
                            <label class="col-sm-8 control-label">
                                                        0.0%
                                                        </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Penalty APR
                            </div>
                            <label class="col-sm-8 control-label">
                                                            0.0%
                                                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Reward Summary</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Points Available
                            </div>
                            <label class="col-sm-8 control-label">
                                                        
                                                        </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Points Expired
                            </div>
                            <label class="col-sm-8 control-label">
                                                        
                                                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Cash Back Earned
                            </div>
                            <label class="col-sm-8 control-label">
                                                        
                                                        </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Points Redeemed
                            </div>
                            <label class="col-sm-8 control-label">
                                                            0.0%
                                                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Points Forfeited
                            </div>
                            <label class="col-sm-8 control-label">
                                                            
                                                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4">
                                Applicable for redemption
                            </div>
                            <label class="col-sm-8 control-label">
                                                                No
                                                                </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>