<link rel="stylesheet" href="css/views/transactions/account-statements.css">

<div class="transactions-account-statements">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Account Statements</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Transactions
                </li>
                <li class="active">
                    <strong>Account Statements</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Account Statements</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">Fax Number</div>
                            <div class="col-sm-7 search">
                                <input type="text" class="form-control">
                                <div class="row chkbx">
                                    <div class="checkbox checkbox-success">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2">Save</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">Statement Format</div>
                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="0">PDF</option>
                                    <option value="1">CSV</option>
                                    <option value="2">EXCEL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Statement Period</th>
                                            <th>Fax ($0.00/statement)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in [1,2,3,4]">
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>