<link rel="stylesheet" href="css/views/transactions/direct-deposits.css">

<div class="transactions-direct-deposits">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Direct Deposits</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Transactions
                </li>
                <li class="active">
                    <strong>Direct Deposits</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Direct Deposits</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Trans. ID</th>
                            <th>Account No.</th>
                            <th>Effective Date</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Receiver Name</th>
                            <th>Company</th>
                            <th>ACH File</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in [1,2,3,4]">
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>