<link rel="stylesheet" href="css/views/others/calls-history.css">

<div class="others-calls-history">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Change/Reset PIN</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Others
                </li>
                <li class="active">
                    <strong>Change/Reset PIN</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>PIN Setting</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                New PIN <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Card Program PIN reset mode is
                            </div>
                            <div class="col-sm-7">
                                <label class="control-label">Last 4 digits of phone number</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Confirm PIN <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Comments <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Comments <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                
                            </div>
                            <div class="col-sm-7 command">
                                <button class="btn btn-primary">Change PIN</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-7 command">
                                <button class="btn btn-primary">Reset PIN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>