<link rel="stylesheet" href="css/views/others/link-external-card.css">

<div class="others-link-external-card">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Link External Card</h2>
            <ol class="breadcrumb">
                <li>
                    <a >Home</a>
                </li>
                <li>
                    <a ui-sref="others.main">Others</a>
                </li>
                <li class="active">
                    <strong>Link External Card</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>External Card Information</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Account Number <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                CVV <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Expiry Date <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="label-control">(mm/yyyy)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Email Address <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><br></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        First Name <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        Last Name <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        Address <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        Address 2
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        City <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        Postal Code <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        State Code <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        Country <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option value="-1">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ibox float-e-margins alerts">
                            <div class="ibox-title">
                                <h5>Cardholder ID Documentary Proof</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        Here you can upload Cardholder ID Authentication proof (scanned image).
                                        <br>Fields marked with * must be filled.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        Proof File <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 command">
                <button class="btn btn-primary">Forcefully Accept</button>
                <button class="btn btn-success">Process</button>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>