<link rel="stylesheet" href="css/views/others/online-payment-activity.css">

<div class="others-online-payment-activity">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Online Payment Activity</h2>
            <ol class="breadcrumb">
                <li>
                    <a >Home</a>
                </li>
                <li>
                    Others
                </li>
                <li class="active">
                    <strong>Online Payment Activity</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Online Payment Activity</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Card Amount</th>
                            <th>Amount</th>
                            <th>Amount Basis</th>
                            <th>Bank</th>
                            <th>Status</th>
                            <th>Reference #</th>
                            <th>Type</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in [1,2,3,4]">
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>