<link rel="stylesheet" href="css/views/others/reissue-card.css">

<div class="others-reissue-card">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Reissue Card</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Others
                </li>
                <li class="active">
                    <strong>Reissue Card</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Reissue Options</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Reissue Type
                            </div>
                            <div class="col-sm-7">
                                <div class="radio radio-success">
                                    <input id="radio1" type="radio" name="rdReissueType">
                                    <label for="radio1">Same Card Number with Same Information</label>
                                </div>
                                <div class="radio radio-success">
                                    <input id="radio2" type="radio" name="rdReissueType">
                                    <label for="radio2">Same Card Number with Updated Expiry Date</label>
                                </div>
                                <div class="radio radio-success">
                                    <input id="radio3" type="radio" name="rdReissueType">
                                    <label for="radio3">New Card Number with Existing Card Profile</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Card Number
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Close Existing Card
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkExistingCard" type="checkbox">
                                    <label for="chkExistingCard"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Comments <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-7">
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-7 command">
                                <button class="btn btn-primary">Reissue Card</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>