<link rel="stylesheet" href="css/views/others/upgrade-card.css">

<div class="others-upgrade-card">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Upgrade Card</h2>
            <ol class="breadcrumb">
                <li>
                    <a >Home</a>
                </li>
                <li>
                    <a ui-sref="others.main">Others</a>
                </li>
                <li class="active">
                    <strong>Upgrade Card</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Card Upgrade Options</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" data-toggle="tab" data-target="#tab-1" aria-expanded="true">Upgrade Card</a></li>
                        <li class=""><a data-toggle="tab" data-toggle="tab" data-target="#tab-2" aria-expanded="false">Change Card Program</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Upgrade Card
                                            </div>
                                            <div class="col-sm-8">
                                                <label>5121 22** **** 1104</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Card Program
                                            </div>
                                            <div class="col-sm-8">
                                                <select class="form-control">
                                                    <option value="0">Selection 1</option>
                                                    <option value="1">Selection 2</option>
                                                    <option value="2">Selection 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                All Cash Out options
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="radio radio-success">
                                                    <input id="radio1" type="radio" name="rdReissueType">
                                                    <label for="radio1">Now | (Close existing card and transfer all cash to new card) |</label>
                                                </div>
                                                <div class="radio radio-success">
                                                    <input id="radio2" type="radio" name="rdReissueType">
                                                    <label for="radio2">On Activation of New Card | (All cash of the existing card will be transfered to new card and previous card will be closed) |</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Instant Issue Card
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="checkbox checkbox-success">
                                                    <input id="chkInstantIssueCard" type="checkbox">
                                                    <label for="chkInstantIssueCard"></label>
                                                    <span class="text-success">(New card will be activated automatically)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Shipping Method <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <select class="form-control">
                                                    <option value="0">Selection 1</option>
                                                    <option value="1">Selection 2</option>
                                                    <option value="2">Selection 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Comments <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <textarea rows="5" class="form-control"></textarea>
                                                <span class="text-danger">NOTE: The current card will be upgraded and you will be issued upgraded card. Please confirm the mailing address before issuing upgraded card.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">

                                            </div>
                                            <div class="col-sm-8 command">
                                                <button class="btn btn-primary">Upgrade Card</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                New Card Program <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <select class="form-control">
                                                    <option value="-1">Select Card Program</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Comments <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <textarea rows="5" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                
                                            </div>
                                            <div class="col-sm-8 command">
                                                <button class="btn btn-primary">Change Program</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
    </div>
</div>