.cardprogram-details {
    .wrapper-content {
        .ibox-content {
            .row {
                margin-bottom: 1%;

                .ibox-title {
                    border-width: 1px 0 0;
                }

                .command {
                    text-align: right;    
                }
            }
        }
    }

    .card-images {
        width: 280px;
    }
}