<link rel="stylesheet" href="css/views/cardprogram/details.css">

<div class="cardprogram-details">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Details</h2>
            <ol class="breadcrumb">
                <li>
                    <a >Home</a>
                </li>
                <li>
                    <a ui-sref="cardprogram.main">Card Program</a>
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Card Program</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Program Name
                            </div>
                            <label class="col-sm-7 control-label">Xcoin Global USD Credit</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Nickname
                            </div>
                            <label class="col-sm-7 control-label">KO KARD CC</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                4|th| Line of Embossing
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">Program Type</div>
                        <label class="col-sm-7 control-label">EMV Chip & PIN</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Program Category
                            </div>
                            <label class="col-sm-7 control-label">Credit</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Credit Card Type
                            </div>
                            <label class="col-sm-7 control-label">Personal</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">Primary Stakeholder</div>
                            <label class="col-sm-7 control-label">8 Ko Kard</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Currency
                            </div>
                            <label class="col-sm-7 control-label">USD</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Start Date
                            </div>
                            <label class="col-sm-7 control-label">03-28-2017(mm-dd-yyyy)</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Program Status
                            </div>
                            <label class="col-sm-7 control-label">N/A</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Card Properties</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Card BIN
                            </div>
                            <label class="col-sm-7 control-label">512122</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Card Starting Numbers
                            </div>
                            <label class="col-sm-7 control-label">512122001</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Card Track Format
                            </div>
                            <label class="col-sm-7 control-label">Master International</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">Card File Format</div>
                        <label class="col-sm-7 control-label">ExpandedV2C</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Financial Institution
                            </div>
                            <label class="col-sm-7 control-label">Financial Bank</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Expiration Months
                            </div>
                            <label class="col-sm-7 control-label">36</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">Reissue Months</div>
                            <label class="col-sm-7 control-label">34</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Auto Upgrade to
                            </div>
                            <label class="col-sm-7 control-label">N/A</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Univarsal Product Code
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Card Production</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Generate Access Code
                            </div>
                            <label class="col-sm-7 control-label">N/A</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Generate PIN
                            </div>
                            <label class="col-sm-7 control-label">Last 4 digits of Phone No.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Service Code Digit 1
                            </div>
                            <label class="col-sm-7 control-label">2-Intl. EMV Chip Card</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">Service Code Digit 2</div>
                        <label class="col-sm-7 control-label">0-Normal rules Auth</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Service Code Digit 3
                            </div>
                            <label class="col-sm-7 control-label">0-Normal rules Auth</label>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Allowed Components</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Cardholder Site
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkCardholderSite" type="checkbox">
                                    <label for="chkCardholderSite"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Customer Services Site
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkCustomerServicesSite" type="checkbox">
                                    <label for="chkCustomerServicesSite"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                IVR
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkIVR" type="checkbox">
                                    <label for="chkIVR"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">Web Services</div>
                        <div class="col-sm-7">
                            <div class="checkbox checkbox-success">
                                <input id="chkWebServices" type="checkbox">
                                <label for="chkWebServices"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                FastCash
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkFastCash" type="checkbox">
                                    <label for="chkFastCash"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                ACH
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkACH" type="checkbox">
                                    <label for="chkACH"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Card Images</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <span>Front Image</span>
                    </div>
                    <div class="col-sm-6">
                        <span>Back Image</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="img/card-front.jpg" alt="front image" class="card-images">
                    </div>
                    <div class="col-sm-6">
                        <img src="img/card-back.jpg" alt="back image" class="card-images">
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Program Checks</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                ATM Usage
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkATMUsage" type="checkbox">
                                    <label for="chkATMUsage"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Apply OFAC
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkApplyOFAC" type="checkbox">
                                    <label for="chkApplyOFAC"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                POS Usage
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkPOSUsage" type="checkbox">
                                    <label for="chkPOSUsage"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5">Apply AVS</div>
                        <div class="col-sm-7">
                            <div class="checkbox checkbox-success">
                                <input id="chkApplyAVS" type="checkbox">
                                <label for="chkApplyAVS"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                PIN Transactions
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkPINTrans" type="checkbox">
                                    <label for="chkPINTrans"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Track Generation after OFAC/AVS
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkTrackGeneration" type="checkbox">
                                    <label for="chkTrackGeneration"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Signature Transactions
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkSignatureTrans" type="checkbox">
                                    <label for="chkSignatureTrans"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Activate Card Without Registration
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkActivateWOReg" type="checkbox">
                                    <label for="chkActivateWOReg"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Apply Fraud Rules
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox checkbox-success">
                                    <input id="chkApplyFraudRules" type="checkbox">
                                    <label for="chkApplyFraudRules"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Verify New CH Web Login
                            </div>
                            <label class="col-sm-7 control-label">PIN</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Commission Distribution Type
                            </div>
                            <label class="col-sm-7 control-label">N/A</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Commission Distribution Flow
                            </div>
                            <label class="col-sm-7 control-label">N/A</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Commission Effective Levels
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Discount Rate Plan
                            </div>
                            <label class="col-sm-7 control-label">N/A</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Allowed Networks</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                Networks
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" multiple>
                                    <option value="0">Selection 1</option>
                                    <option value="1">Selection 2</option>
                                    <option value="2">Selection 3</option>
                                    <option value="3">Selection 4</option>
                                    <option value="4">Selection 5</option>
                                    <option value="5">Selection 6</option>
                                    <option value="6">Selection 7</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 command">
                <button class="btn btn-primary">Update Changes</button>
            </div>
        </div>

        <div class="row"><br></div>
    </div>
</div>