<link rel="stylesheet" href="css/views/cardprogram/fraud.css">

<div class="fraud">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Fraud</h2>
            <ol class="breadcrumb">
                <li>
                    <a >Home</a>
                </li>
                <li>
                    Card Program
                </li>
                <li class="active">
                    <strong>Fraud</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Card Program: KOKARD001 Xcoin Global USD Credit</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Sr. #</th>
                            <th rowspan="2">Fraud Parameter</th>
                            <th rowspan="2">Check Time</th>
                            <th colspan="2">Units</th>
                            <th colspan="4">Values</th>
                            <th colspan="2">Alerts</th>
                            <th colspan="3">Actions</th>
                            <th rowspan="2">Card Limit</th>
                        </tr>
                        <tr>
                            <th>Value</th>
                            <th>Unit</th>
                            <th>Value</th>
                            <th>Minimum Value</th>
                            <th>Maximum Value</th>
                            <th>%age Extra</th>
                            <th>Cardholder</th>
                            <th>Fraud Center</th>
                            <th>Block Trans</th>
                            <th>Block Card</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="f in frauds">
                        <tr class="title">
                            <td colspan="15" class="aleft">
                                <label class="control-label">{{f.name}}</label>
                            </td>
                        </tr>
                        <tr ng-repeat="l in f.list">
                            <td>{{l.srno}}</td>
                            <td>{{l.fraudParameter}}</td>
                            <td>{{l.checkTime}}</td>
                            <td>{{l.units.value}}</td>
                            <td>
                                <select class="form-control" ng-model="l.units.unit"
                                        ng-options="u.value as u.text for u in units"></select>
                            </td>
                            <td>{{l.values.value}}</td>
                            <td>{{l.values.minimum}}</td>
                            <td>{{l.values.maximum}}</td>
                            <td>{{l.values.percentage}}</td>
                            <td>
                                <div class="checkbox checkbox-success">
                                    <input id="chk1" type="checkbox" ng-model="l.alerts.cardholder">
                                    <label for="chk1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox checkbox-success">
                                    <input id="chk2" type="checkbox" ng-model="l.alerts.fraudcenter">
                                    <label for="chk2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox checkbox-success">
                                    <input id="chk3" type="checkbox" ng-model="l.actions.blocktrans">
                                    <label for="chk3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox checkbox-success">
                                    <input id="chk4" type="checkbox" ng-model="l.actions.blockcard">
                                    <label for="chk4"></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox checkbox-success">
                                    <input id="chk5" type="checkbox" ng-model="l.actions.active">
                                    <label for="chk5"></label>
                                </div>
                            </td>
                            <td>
                                <a>Update</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>