<link rel="stylesheet" href="css/views/card/cardholder-information.css">

<div class="cardholder-information">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Cardholder Information</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Card
                </li>
                <li class="active">
                    <strong>Cardholder Information</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content details">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    First Name
                                </div>
                                <label class="col-sm-7 control-label">
                                    KIMBERLY
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    E-mail
                                </div>
                                <label class="col-sm-7 control-label">
                                    <a>kbangit@ko-kard.com</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Last Name
                                </div>
                                <label class="col-sm-7 control-label">
                                    SPROULE
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-5">
                                Member ID
                            </div>
                            <label class="col-sm-7 control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Address
                                </div>
                                <label class="col-sm-7 control-label">
                                    B43 L5 Abegail Dr Herencia De Julieta, Telabastagan San Fernando, Pampanga 2000 PHL
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Customer ID
                                </div>
                                <label class="col-sm-7 control-label">
                                    292000000000000257
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    SSN/NID
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Card Reference Number
                                </div>
                                <label class="col-sm-7 control-label">
                                    292000025719
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Date of Birth
                                </div>
                                <label class="col-sm-7 control-label">
                                    01/29/1986
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Home Phone Number
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Mother's Maiden Name
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Work Phone Number
                                </div>
                                <label class="col-sm-7 control-label">
                                    639271642832
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Country of Citizenship
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Mobile Phone
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Gross Annual Income
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Free Text
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    Monthly Housing Payment
                                </div>
                                <label class="col-sm-7 control-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>