<link rel="stylesheet" href="css/views/card/details.css">

<div class="card-details">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Card Summary</h2>
            <ol class="breadcrumb">
                <li>
                    <a >Home</a>
                </li>
                <li>
                    <a ui-sref="card.main">Card</a>
                </li>
                <li class="active">
                    <strong>Summary</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content details">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Card Number
                                </div>
                                <label class="col-sm-8 control-label">
                                    5121 22** **** 1104
                                    <a>(Registered)</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    User ID
                                </div>
                                <label class="col-sm-8 control-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Supplementary Card
                                </div>
                                <label class="col-sm-8 control-label">
                                    (N/A)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Program Name
                                </div>
                                <label class="col-sm-8 control-label">
                                    Xcoin Global USD Credit
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">

                                <div class="col-sm-4">
                                    Phone PIN
                                </div>
                                <label class="col-sm-8 control-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Program Category
                                </div>
                                <label class="col-sm-8 control-label">
                                    Credit
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    First Activation Date
                                </div>
                                <label class="col-sm-8 control-label">
                                    05/26/2017
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Program Category
                                </div>
                                <label class="col-sm-8 control-label">
                                    Credit
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    First Activation Date
                                </div>
                                <label class="col-sm-8 control-label">
                                    05/26/2017
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Credit Card Category
                                </div>
                                <label class="col-sm-8 control-label">
                                    Personal
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Last Accessed
                                </div>
                                <label class="col-sm-8 control-label">
                                    08/22/2017
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Card Status
                                </div>
                                <label class="col-sm-8 control-label">
                                    Open
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Last Called
                                </div>
                                <label class="col-sm-8 control-label">
                                    08/23/2017
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Expiry Date
                                </div>
                                <label class="col-sm-8 control-label">
                                    05/31/2020
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Balance Information</h5>
                                    <div ibox-tools></div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Outstanding Balance
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $5.67
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Statement Balance
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $0.00
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Available Credit Limit
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $6.67
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Available Cash Advance Limit
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $6.67
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Available Credit Limit
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $1.00
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Allowed Cash Advance Limit
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $10.00
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Payment Information</h5>
                                    <div ibox-tools></div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Minimum Payment Due
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $0.00
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Last Payment Amount
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            $25.00
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Payment Due Date
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Last Payment Date
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            07/26/2017
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>APR Information</h5>
                                    <div ibox-tools></div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    APR For Purchases
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                        0.0%
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    APR For Cash Advance
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                        0.0%
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    APR For Balance Transfer
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                        0.0%
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Penalty APR
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            0.0%
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Reward Summary</h5>
                                    <div ibox-tools></div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Points Available
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                        
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Points Expired
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                        
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Cash Back Earned
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                        
                                                        </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Points Redeemed
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            0.0%
                                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Points Forfeited
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                            
                                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Applicable for redemption
                                                </div>
                                                <label class="col-sm-8 control-label">
                                                                No
                                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>