<link rel="stylesheet" href="css/views/card/creditcard-statement-cycle.css">

<div class="creditcard-statement-cycle">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Credit Card Statement Cycle</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Card
                </li>
                <li class="active">
                    <strong>Credit Card Statement Cycle</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Change Statement Cycle</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-6">
                                Statement Day of Month
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option value="0">Selection 1</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                                    <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <strong>Note:</strong> <span class="text-success">The selected statement date will be effective from the next statement cycle.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-6">
                                Requested Statement Day of Month
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 command">
                        <button class="btn">Cancel</button>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>