<link rel="stylesheet" href="css/views/card/history.css">

<div class="card-history">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>History</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Card
                </li>
                <li class="active">
                    <strong>History</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Free Reversal Requests</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Trans ID</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Amount</th>
                            <th>Caller Name</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in [1,2]">
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="ibox float-e-margins alerts">
            <div class="ibox-title">
                <h5>Card Statuses</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Card Status</th>
                            <th>Call Status</th>
                            <th>Caller Name</th>
                            <th>Comments</th>
                            <th>CSR Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in [1,2]">
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>