<link rel="stylesheet" href="css/views/card/supplementary-card.css">

<div class="supplementary-card">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Supplementary Card</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    Card
                </li>
                <li class="active">
                    <strong>Supplementary Card</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins profile-setting">
            <div class="ibox-title">
                <h5>Order Supplementary Card</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    Primary Card No.
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        5121 22** **** 1104
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    Card Program
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <select class="form-control">
                                        <option value="0">Selection 1</option>
                                        <option value="1">Selection 2</option>
                                        <option value="2">Selection 3</option>
                                    </select>
                                        <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="img/credit-card.png" alt="Card Image" class="card-image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Personal Information</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                First Name <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Last Name <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Date of Birth <span class="text-danger">*</span>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group date">
                                                    <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="true" min-view="date"
                                                        format="YYYY-MM-DD">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                Mother's Maiden Name
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>